// ------------------------------------------------------------------
// Lato
// ------------------------------------------------------------------
$bangla-font-path: '../fonts';

@mixin bangla-font($type, $weight, $style) {
    // Cyrillic: U+0400-04FF, U+0500-052F

    @font-face {
        font-family: 'Bangla';
        src: url('#{$bangla-font-path}/Kalpurush-webfont.ttf');
        src:
             url('#{$bangla-font-path}/kalpurush-webfont.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }

}
